keybinding:
  universal:
    return: <c-a>
os:
  editPreset: 'nvim'
  edit: 'nvim -u /Users/jimmy/Programming/nvim/init.lua --cmd "set rtp+=/Users/jimmy/Programming/nvim" {{filename}}'
  editAtLine: 'nvim -u /Users/jimmy/Programming/nvim/init.lua --cmd "set rtp+=/Users/jimmy/Programming/nvim" +{{line}} {{filename}}'
theme:
  activeBorderColor:
    - '#f5e0dc'
    - bold
  inactiveBorderColor:
    - '#a6adc8'
  optionsTextColor:
    - '#89b4fa'
  selectedLineBgColor:
    - '#313244'
  cherryPickedCommitBgColor:
    - '#45475a'
  cherryPickedCommitFgColor:
    - '#f5e0dc'
  unstagedChangesColor:
    - '#f38ba8'
  defaultFgColor:
    - '#cdd6f4'
  searchingActiveBorderColor:
    - '#f9e2af'

authorColors:
  '*': '#b4befe'
