[user]
	name = Jimmy Tran
	email = {{PRI_EMAIL}}
[push]
  autoSetupRemote = true
[init]
	defaultBranch = main
[format]
  pretty = format:%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset
[core]
	excludesFile = {{HOME}}/Programming/JimmyTranDev/dotfiles/src/.gitignore_global
	editor = nvim -u {{HOME}}/Programming/JimmyTranDev/nvim/init.lua --cmd 'set rtp+={{HOME}}/Programming/JimmyTranDev/nvim'
	pager = delta
	hooksPath = {{HOME}}/.config/git/hooks

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	side-by-side = false
	line-numbers = true
	features = catppuccin-mocha

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default

[pull]
	rebase = true
