layout {
    pane split_direction="vertical" {
        pane size="29%" {
            pane command="opencode" size="25%"
            pane command="opencode" size="25%"
            pane command="opencode" size="25%"
            pane command="opencode" size="25%"
        }
        pane command="nvim" focus=true size="70%"
    }
    pane size=1 borderless=true {
        plugin location="zellij:compact-bar"
    }
}
